html, body{
    min-height: 100%;
    background-color: rgb(230, 173, 213);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    background-color: rgb(7, 7, 6);
    color: white;
}

#canvas{
    min-width: 1000px;
    min-height: 600px;
}
#legend{
    margin: 20px;
    padding: 50px;
    min-width: 500px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
  }
rect{
    border: 1px solid black;
}
rect .tile{
    cursor: pointer;
}
.tile:hover{
    fill: white;
}